*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', Arial;
  color: #515076;
  font-size: 13px;
  line-height: 18px;
}

.bg-flower {
  width: 1470px;
  height: 408px;
  background-image: url('/img/background-title.png');
  background-size: 790px;
  background-position: 180px 0px;
  background-repeat: no-repeat;
  position: relative;
}

.title-product-choice {
  line-height: 78px;
  font-size: 70px;
  position: absolute;
  top: 23%; left: 23%;
}

.product-list {
  margin: 0px 85px 115px 85px;
  list-style: none;
  display: flex;
  justify-content:center;
  align-items:center;
  flex-wrap: wrap;
  gap: 45px;
}

.product-card {
  width:340px;
  padding: 25px;
  background-color: #F7F7FA;
  box-shadow: 2px 2px 10px 0px #5150761A;
}

.product-category {
  margin-top:30px;
  margin-bottom: 5px;
  color: #A5A3B9;
  font-size: 12;
  line-height: 24px;
  text-transform: uppercase;
}

.product-name {
  font-size: 20px;
  line-height: 27px;
  padding-bottom: 5px;
}

.product-description {
  margin-bottom: 15px;
}

.product-compound {
  margin: 5px 0px 25px 15px;
}

.product-price {
  display: flex;
  justify-content: space-between;
}

.price-label {
  font-weight: 700;
  font-size: 20px;
}

.price-value {
  font-size: 20px;
}